$width:100px;

.container {
    h1 {
      color:lighten(blue,50%);
      margin-bottom:0;
      font-size: 20px;

    }

    a{
      color:black;
        &:hover {
          text-decoration: none;
        }
    }
}
.btn{
  background-color: red;
  padding: 5px;
  width:$width;
}
.btnCeil{
  width: ceil($width / 3);
}
.btnFloor{
  width:floor($width / 3);
}

@function half($value){
  @return ceil($value / 2);
}